

.accent {
  overflow: auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #eee;
}

.accent > div {
  height: 10px;
  float: left;
}

.accent_blue {
  background-color: #54C2E8;
  width: 30%;
}

.accent_gold {
  background-color: #FFCC00;
  width: 70%;
}

.banner_container {
  position: relative;
}

.banner_carousel {

  background-color: white;
}

.banner {
  /*background-color: #333;*/
  background-image: url('../img/banner_home.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner_overlay {
  background-color: rgba(88,88,88,0.4);
  overflow: auto;
  padding: 100px 80px 120px 80px;
  box-sizing: border-box;
}

.banner_title1 {
  color: white;
  font-size: 3.5em;
  line-height: 1em;
  font-family: "RobotoThin", sans-serif;
}

.banner_title2 {
  width: 60%;
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 10px;
  font-family: "RobotoLight", "Arial", sans-serif;
}

.btn_hello {
  background-color: darkorange;
  padding: 15px 30px;
  width: 100px;
  text-align: center;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.banner_content {
  position: absolute;
  left: 200px;
  bottom: 30px;
}

.pathways {
  padding: 0 20px;
  text-align: center;
  overflow: auto;
  background-color: white;
}

.pathway {
  float: left;
  width: 25%;
  /*padding: 30px;*/
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;

}

.pathway_container {
  overflow: auto;
  box-shadow: 0 2px 2px grey;
}

.pathway .image {
  opacity: 0.5;
}

.pathway .image:hover {
  opacity: 1;
}

.pathway .title {
  font-family: "Roboto";
  padding: 10px;
  overflow: auto;
}

.pathway .text {
  float: left;
  font-size: 1.2em;
}

.pathway .icon {
  float: right;
}

.pathway .more {
  clear: both;
  text-align: left;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 10px;
  text-decoration: underline;
  color: #0096D6;
}

.pw_analytics {
  height: 180px;
  background-color: #333;
  background-image: url('../img/analytics.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.pw_architecture {
  height: 180px;
  background-color: #333;
  background-image: url('../img/architecture.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.pw_cyber {
  height: 180px;
  background-color: #333;
  background-image: url('../img/cyber.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.pw_engineering {
  height: 180px;
  background-color: #333;
  background-image: url('../img/engineering.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.values {
  overflow: auto;
  padding: 0 30px;
}

.value {
  width: 20%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.value:hover {
  color: white;
}

.value_container {
  font-size: 1.3em;
  font-family: "Aachen";
  background-color: #FFCC00;
  padding: 12px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 0 grey;
}

.value_container a {
  text-decoration: none;
  color: black;
}

.value_container a:hover {
  text-decoration: none;
  color: white;
}

.footer {
  text-align: right;
  padding: 30px 20px;
  background-color: #555;
  font-family: "ProximaNovaBold", sans-serif;
  color: white;
}

.modal-faq {
  display: none;
}

.faq-button {
  padding: 20px;
  cursor: pointer;
}

.faq-button:hover {
  color: #54C2E8;
}

.faq {
  margin-top: 10px;
}

.faq > div {
  text-align: left;

}

.faq-q {
  font-family: "Roboto";
  padding: 15px 15px;
  background-color: #ddd;
  cursor: pointer;
}

.faq-a {
  font-family: "RobotoLight";
  display: none;
  padding: 15px 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.faq-a p {
  margin-top: 0;
  margin-bottom: 20px;
}
