/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

 @font-face {
   font-family: "Roboto";
   src: url("fonts/Roboto-Regular.ttf");
 }

 @font-face {
   font-family: "RobotoLight";
   src: url("fonts/Roboto-Light.ttf");
 }

 @font-face {
   font-family: "RobotoThin";
   src: url("fonts/Roboto-Thin.ttf");
 }

 @font-face {
   font-family: "AachenBoldPlain";
   src: url("fonts/AachenBoldPlain.ttf");
 }

b {
  font-family: "HelveticaBold";
}

html {
    font-size: 1em;
    font-family: "HelveticaLt", "Arial", sans-serif;

}

body {
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

.cbagold {
  color: #FFCC00;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
    font-size: 1.2em;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.header {
  height: 80px;
  overflow: hidden;
}

.header .menu {
  line-height: 30px;
  float: right;
  padding: 25px 30px;
  background-color: #FFCC00;
  cursor: pointer;
  overflow: hidden;
}

.header .menu:hover {
  background-color: #ccc;
}

.logo_can {
  float: left;
  padding: 10px;
}

.statement {
  text-align: center;
  color: black;
  overflow: auto;
  padding: 30px 70px 10px 70px;
  background-color: white;
}

.statement .title {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.statement .description {
  font-family: "RobotoLight", sans-serif;
  padding: 0 12%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  overflow: auto;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 45px 15px 15px 15px ;
    border: 1px solid #888;
    /*height: 80%;*/
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-title {
  font-family: "Roboto";
  font-size: 1.2em;
}

.icon_close {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
}

.key_responsibilities {
  padding-left: 20px;
  margin: 0;
}
.key_responsibilities > li {
  /*padding: 5px 0;*/
}

.ul_links {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

.ul_links li {
  padding: 5px 0;
  color: #ccc;
  font-family: "Roboto";
}

.ul_links li a {
  color: #54C2E8;
  cursor: pointer;
}

.ul_links li a:hover {
  text-decoration: underline;
}

/** TREE **/
.tree {
  overflow: auto;
  padding-top: 20px;
  margin: 0 0 20px 0;
  font-size: 0.8em;
}

.col {
  min-height: 100px;
  width: 22%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.col_end {
  min-height: 100px;
  width: 17%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.path_label {
  text-align: center;
  background-color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.path_label > div {
  background-color: #eee;
  padding: 10px 0 10px 0;
  font-family: "RobotoLight";
}

.role_spacer {
  text-align: center;
  background-color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.role_spacer > div {
  background-color: #eee;
  padding: 0;
  font-family: "RobotoThin";
}

.role_spacer_end {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.role_spacer_end > div {
  height: 30px;
  background-color: #eee;
}

.role {
  cursor: pointer;
  font-family: "Roboto";
}

.role .label {
  height: 60px;
  width: 70%;
  float: left;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: "Roboto";
}

.role .icon {
  text-align: center;
  width: 30%;
  height: 60px;
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  /*float: left;*/
  box-sizing: border-box;
  /*white-space: nowrap;*/
}

.role .icon > img {
  /*display: inline-block;
  vertical-align: middle;*/
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gold {
  background-color: #FFCC00;
}

.blue {
  background-color: #54C2E8;
}

.circle_container {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  /*display: flex;*/
  /*display: inline-block;*/
  /*justify-content: center;*/
  cursor: pointer;
  text-align: center;
  position: relative;
  /*overflow: auto;*/
}

.circle {
  /*padding: 10px;*/
  /*display: flex;*/
  /*display: table-cell;*/
  display: inline-block;
  /*margin: 0 auto;*/
  /*justify-content: center;*/
  /*align-self: center;*/
  vertical-align: middle;
  background-color: #eee;
  box-sizing: border-box;
  /*box-shadow: 0 2px 5px gray;*/
  border-radius: 5px;
  /*height: 100px;*/
  padding: 30px 20px;
  width: 100%;
  text-align: center;
  /*white-space: nowrap;*/
  /*word-wrap: break-word;*/
}

.role {
  width: 100%;
}

.circle:hover {
  background-color: #FC0;
}

.circle > div {
  /*align-self: center;*/
  font-family: "Roboto";
}

.top_spacer {
  height: 80px;
  width: 100%;
}

.mid_spacer {
  height: 300px;
  width: 100%;
}

.circle_spacer {
  text-align: center;
  background-color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "RobotoThin";
}

.table-role {
  width: 100%;
}

.table-role tbody tr td {
  border-spacing: 0px;
  border: 1px solid #eee;
}

.td-icon {
  padding: 20px;
  text-align: center;
  width: 30%;
}

.td-text {
  width: 70%;
  padding: 0px 10px;
  font-family: "Roboto";
}

#generic {
  font-family: "RobotoLight";
}

.job-banner {
  background-image: url('../img/executive_consultant.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  padding: 20px;
  color: white;
  font-family: "RobotoLight";
  position: relative;
}

.modal-generic {
  padding: 0 0 10px 0;
}

.job-title {
  font-size: 2em;
}

.job-desc {
  font-size: 1em;
}

.label {
  padding: 10px 20px;
  font-family: "Roboto";
  background-color: #00A6DE;
  color: white;
}

.list {
  margin: 0;
  padding: 0px 20px;
  list-style-type: none;
  font-size: 0.8em;
}

.list li {
  margin: 10px 0;
}
